<div class="tabla">
    <button type="button" class="btn btn-secondary btn-lg btn-block" style="margin: 20px 0px;" (click)="openModalAdd(default)">Agregar</button>
    <table class="autos table table-hover">
        <thead class="thead-autos">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Marca</th>
                <th scope="col">Submarca</th>
                <th scope="col">Modelos</th>
                <th scope="col">Descripción</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : page * pageSize">
                <td>{{ auto._id }}</td>
                <td>{{ auto.marca }}</td>
                <td>{{ auto.submarca }}</td>
                <td>{{ auto.modelos }}</td>
                <td>{{ auto.descripcion }}</td>
                <td><i class="fa fa-pencil" aria-hidden="true" (click)="openModalUpdate(auto)"></i></td>
                <td><i class="fa fa-trash" aria-hidden="true" (click)="openModalDelete(auto)"></i></td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="autos.length" [maxSize]="10" [rotate]="true"
        [boundaryLinks]="true"></ngb-pagination>
</div>