.autos{
    width: 90%;
    margin: 20px auto;
}

.thead-autos{
    background-color: #dfdf99;
}

.add{
    font-size: 18px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#add-btn:hover{
    background-color: black;
    border: black;
}