<div class="tabla">
    <div class="add">
        <p>¿Desea agregar un auto?</p>
        <button type="button" id="add-btn" class="btn btn-secondary" style="margin: 20px 0px;"
            (click)="openModalAdd(default)">
            Agregar
            <i class="fa fa-plus"></i>
        </button>
    </div>

    <div id="filter">
        <label class="sr-only" for="busqueda">Filtro</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-search"></i></div>
            </div>
            <input type="text" class="form-control" id="busqueda" placeholder="Buscar..."
            [(ngModel)]="searchText" autocomplete="off">
        </div>
    </div>

    <table class="autos table table-hover">
        <thead class="thead-autos">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Marca</th>
                <th scope="col">Submarca</th>
                <th scope="col">Modelos</th>
                <th scope="col">Descripción</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="displayProgressBar">
                <th colspan="7">
                    <ngb-progressbar type="warning" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
                </th>
            </tr>
            <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : page * pageSize | filter:searchText">
                <td>{{ auto._id }}</td>
                <td>{{ auto.marca | uppercase }}</td>
                <td>{{ auto.submarca | uppercase }}</td>
                <td>{{ auto.modelos | modelos }}</td>
                <td>{{ auto.descripcion | uppercase}}</td>
                <td><i class="fa fa-pencil" aria-hidden="true" (click)="openModalUpdate(auto)"></i></td>
                <td><i class="fa fa-trash" aria-hidden="true" (click)="openModalDelete(auto)"></i></td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
        [collectionSize]="autos.length" [maxSize]="10" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</div>