<div class="list">
    <div class="auto" *ngFor="let auto of autos | slice: (page-1) * pageSize : page * pageSize">
        <!--<img id="ver" src="/assets/imagenes/icono_ver.png" alt="Imagen no disponible" (click)='onSelect(content,auto)'>-->
        <i class="fa fa-eye" (click)='onSelect(content,auto)'></i>
        {{auto.descripcion}}
    </div>
    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="autos.length" [maxSize]="10" [rotate]="true"
    [boundaryLinks]="true"></ngb-pagination>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{autoSeleccionado.descripcion}}</h4>
        <button type="button" id='modalClose' class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <dl>
            <dt>Marca:</dt>
            <dd>{{autoSeleccionado.marca}}</dd>
            <dt>Submarca:</dt>
            <dd>{{autoSeleccionado.submarca}}</dd>
            <dt>Modelos:</dt>
            <dd>{{autoSeleccionado.modelos}}</dd>
        </dl>
    </div>
</ng-template>